body {
    text-align: center;
    font-family: 'Inter', sans-serif;
    width: 100vw;
    height: 80vh;
    margin: 0;
    position: relative;
}

#game-intro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: #FCFCFC;
}

.footer{
    display: none;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #D6D6D6;
    padding: 25px;
}

.delete-storage{
    border-radius: 15px;
    background: #DD1C1A;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #FCFCFC;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1em;
    padding: 1em;
    width: 200px;
    height: 80px;  
}

#game-intro h1 {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#game-intro p {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.form input {
    border: 1px solid #000;
    background: #EFEFEF;
    width: 300px;
    height: 50px;
    border-radius: 15px;
}

input, select, textarea {
    font-size: 100%;
    font-family: 'Inter', sans-serif;
}
    
.starting-button {
    border-radius: 15px;
    background: #CEE1C9;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 1em;
    padding: 1em;
    width: 400px;
    height: 100px;
}

#game-container {
    background-color: green;
    display: none;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    background: #FCFCFC;
    align-items: stretch;
    justify-content: center;
}

.col1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../images/pasture.png);
    background-size: cover;
    width: 30%;
}

.cheese{
    z-index: 4;
    margin-top: 10vh;
}

.cheese img{
    width: 400px;
    height: 400px;
    z-index: 4;
}

.cheese img:active{
    transform: scale(0.8);
    z-index: 4;
}

.counter-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    heigth: 100px;
    background: #F6F6F6;
    border-radius: 15px;
    z-index: 4;
}

.counter {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    z-index: 4;
}

.col2 {
    background: #FCFCFC;
    width: 40%;
}

.col2-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
    padding: 2vh 2vw 2vh 2vw;
}

.title {
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.rules{
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: start;
}

.tools-container{
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 2vh 2vw 2vh 2vw;
}

.tool {
    background: #D9D9D9;
    border-radius: 15px;
    height: 100px;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
}

.tool-title{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

[class^="tool-images-"]{
    position: relative;
}


[class^="tool-images-"] img {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(0%, 0%);
}

.image-cursor{
    width: 50px;
    height: 50px;
    position: absolute;
    top: 10%;
    left: 15%;
    transform: translate(0%, 0%);
}

.col3 {
    background: #FCFCFC;
    width: 30%;
}

.col3-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding: 2vh 2vw 2vh 2vw;
}


.store-container{
    display: flex;
    flex-direction: column;
    align-items: stretch; 
    padding: 2vh 2vw 2vh 2vw;
}

.store-tool {
    background: grey;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 25px;
    flex-direction: row;
    border-radius: 5px;
    border: 1px solid #C7C3C3;
    background: #F6F6F6;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.20);
    margin-bottom: 1vh;
}

.tool-shop-cont {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;  
}

.disabled {
    top: 10px;
    box-shadow: none;
    background: #E0E0E0;
    filter: blur(8px);
    pointer-events: none;
}

.store-tool:hover{
    background: #e6e6e6;
    box-shadow: 0 5px #aaa;
    color: #888;
}

.tool-shop-image{
    width: 50px;
    height: 50px;
}

.tool-shop-name {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.tool-shop-price {
    color: #000;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

#game-end {
    background: #FCFCFC;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.winning {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 15vh;
    background: #CEE1C9;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    padding: 10px
}

.cross-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
}

.cross-image {
    width: 20px;
    height: 20px;
}

.question {
    width: 20px;
    height: 20px;
}

.question:hover {
    background: #e6e6e6;
    box-shadow: 0 5px #aaa;
    color: #888;
}

.settings-header{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-top: 5px;
    padding-right: 5px;
}

.settings-body{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.settings-cross-image{
    width: 20px;
    height: 20px;
}

.settings {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 25vw;
    height: 15vh;
    background: #CEE1C9;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid black;
    padding: 10px
}